.board-search {
  width: 100px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #dee2e6;
  margin-left: -8px;
}

.avatar:first-child {
  margin-left: 0;
}

.avatar.more {
  background-color: #f1f3f5;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}